@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;

  /* font-style: italic; */
  scroll-behavior: smooth;
}
.container {
  max-width: 1380px;
  margin: 0 auto;

}
.main-font{
font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  
}

/* @layer base {
  h1 {
    @apply text-[2em] ;
     
  }
  h2 {
    @apply text-[1.5em];
  }
  h3 {
    @apply text-[1.3em];
  }
  h4 {
    @apply text-[1em];
  } 
  h5 {
    @apply text-[0.8em];
  }
  h6 {
    @apply text-[0.7em];
  }
} */
